In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('assign_age_range').getOrCreate()

In [2]:
people = [
    ('김민지',10),
    ('이준호',45),
    ('박서연',23),
    ('정성우',11),
    ('최지원',71),
    ('강현우',38),
    ('윤서진',80),
    ('한예린',35),
    ('임승현',66),
    ('송지우',55)
]

In [3]:
schema = ['name', 'age']

In [4]:
df = spark.createDataFrame(data = people , schema = schema)

In [5]:
df.show()

+------+---+
|  name|age|
+------+---+
|김민지| 10|
|이준호| 45|
|박서연| 23|
|정성우| 11|
|최지원| 71|
|강현우| 38|
|윤서진| 80|
|한예린| 35|
|임승현| 66|
|송지우| 55|
+------+---+

In [6]:
df.createOrReplaceTempView('people')

In [14]:
from pyspark.sql.functions import udf

def age_category(age):
    if age >= 0 and age < 35 : return 'young'
    elif age >= 35 and age < 60 : return 'adult'
    elif age >= 60 : return 'senior'

spark.udf.register("age_category",age_category)

In [16]:
spark.sql("SELECT name, age_category(age) FROM people").show()

+------+-----------------+
|  name|age_category(age)|
+------+-----------------+
|김민지|            young|
|이준호|            adult|
|박서연|            young|
|정성우|            young|
|최지원|           senior|
|강현우|            adult|
|윤서진|           senior|
|한예린|            adult|
|임승현|           senior|
|송지우|            adult|
+------+-----------------+